{{#hasContent}}
import {
useBlockProps,
{{#hasEditingMode}}
useBlockEditingMode,
{{/hasEditingMode}}
{{#hasInnerBlocks}}
InnerBlocks,
{{/hasInnerBlocks}}
{{#hasRichText}}
RichText,
{{/hasRichText}}
{{#hasMedia}}
MediaUpload,
{{/hasMedia}}
} from '@wordpress/block-editor';
{{#hasMedia}}
import { Image } from "@10up/block-components";
{{/hasMedia}}
{{/hasContent}}

{{#hasContent}}
export default (
{{#hasAttributes}}
{ attributes, setAttributes }
{{/hasAttributes}}
) => {
{{{ beforeContent }}}

return ({{{ content }}})
};
{{/hasContent}}

{{^hasContent}}
export default () => null;
{{/hasContent}}
