import { registerBlockType } from "@wordpress/blocks";
{{#hasInnerBlocks}}
import { InnerBlocks } from "@wordpress/block-editor";
{{/hasInnerBlocks}}

import Edit from "./edit.js";
import metadata from "./block.json";

registerBlockType(metadata.name, {
edit: Edit,
save: () =>
{{#hasInnerBlocks}}
<InnerBlocks.Content />
{{/hasInnerBlocks}}
{{^hasInnerBlocks}}
null
{{/hasInnerBlocks}}
});
